<div class='col-sm-10 offset1 border col-center'>
  <form class="new-album" {{action 'save' title body on='submit'}}>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title class="form-control" id="title"}}
      <label for="artist">Artist</label>
      {{input value=artist class="form-control" id="artist"}}
      <label for="studio">Studio</label>
      {{input value=studio class="form-control" id="studio"}}
      <label for="releaseYear">Year of Release</label>
      {{input value=releaseYear class="form-control" id="releaseYear"}}
      <label for="imageURL">Image URL</label>
      {{input value=imageURL class="form-control" id="imageURL"}}
      <label for="body">Description</label>
      {{textarea rows=20 value=body class="form-control" id="body"}}
    </div>
    <button type='submit' class='btn btn-primary'>Add Album</button>
  </form>
</div>
