<div class="review-container">
  {{#unless session.isAuthenticated}}
    <h4>You must be logged in to add a review!</h4>
  {{/unless}}
  {{#unless album.reviews}}
    <div class="no-reviews">
      <h4>No reviews have been written for this album yet!</h4>
      <h4>Be the first.</h4>
    </div>
  {{/unless}}
  {{#each album.reviews as |review|}}
    <div class='review-tile'>
      <div class="tag">
        <div class="image">
          <img src='{{review.user.avatar}}'/>
        </div>
        <div class="username">
          <a href='http://twitter.com/{{review.user.username}}' target='_blank'>{{review.user.username}}</a><br>
        </div>
      </div>
      <div class="body">
        <p> {{markdown-to-html markdown=review.body}} </p>
      </div>
    </div>
  {{/each}}
  {{#if session.isAuthenticated}}
    <div class='new-review'>
      <div class="twitter-avatar">
        <img src='{{session.currentUser.profileImageURL}}'/>
        <h6>{{session.currentUser.username}}</h6>
        <button {{action 'createReview' session body}}>Submit</button>
      </div>
      <textarea placeholder='Add Your Review' value= {{body}} onchange={{action (mut body) value='target.value'}} />

    </div>
  {{/if}}
</div>
