<div class="review-container">
  {{#unless session.isAuthenticated}}
    <h4>You must be logged in to add a review!</h4>
  {{/unless}}
  {{#unless album.reviews}}
    <div class="no-reviews">
      <h4>No reviews have been written for this album yet!</h4>
      <h4>Be the first.</h4>
    </div>
  {{/unless}}
  {{#each album.reviews as |review|}}
    <div class='reviews'>
      <img src='{{review.user.avatar}}'/>
        {{review.body}}<br>
      <a href='http://twitter.com/{{review.user.username}}' target='_blank'>{{review.user.username}}</a><br>
    </div>
  {{/each}}
  {{#if session.isAuthenticated}}
    <div class='new-review'>
      <div class="twitter-avatar">
        <img src='{{session.currentUser.profileImageURL}}'/>
        <h6>{{session.currentUser.username}}</h6>
        {{#if session.currentUser.reviews}}
          <h6>0 reviews</h6>
        {{else}}
          <h6>{{session.currentUser.reviews}} reviews</h6>
        {{/if}}
      </div>
      <textarea rows='8' placeholder='Add Your Review' value= {{body}} onchange={{action (mut body) value='target.value'}} />
      <button {{action 'submitComment' session body}}>Submit</button>
    </div>
  {{/if}}
</div>
